// Weights
.weight-light {
	font-weight: $weight-light !important;
	&--italic {
		font-style: italic;
		font-weight: 300;
	}
}
.weight-regular {
	font-weight: $weight-regular !important;
}
.weight-semibold {
	font-weight: $weight-semi !important;
}
.weight-bold {
	font-weight: $weight-bold !important;
}