@import "../utilities/all";

// Modify the background of the header and hero so they are a smooth, connected gradient
.header-hero-bg {
  /* fallback for old browsers */
  background: $gradient-pink;
  background-image: linear-gradient(-38.33deg, $gradient-purple 0%, $gradient-pink 100%);

  .navbar-nav {
    .nav-link {
      color: $white !important;
    }
  }
}

.hamburger-inner {
  background-color: $white;

  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hamburger.is-active .hamburger-inner {
  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hamburger.is-active .hamburger-inner::before {
  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hamburger.is-active .hamburger-inner::after {
  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hero {
  min-height: 535px;
}

#what-we-do-info {
  margin-top: 150px;
  margin-bottom: 170px;

  .title {
    margin-bottom: 25px;
  }

  .subtitle {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  #view-more-arrow {
    font-weight: 100;
    top: 3px; // Centers the arrow within the text element since it isn't uniform
    margin-left: 5px;
  }
}

.main-content {
  .cta-btn-primary {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);

    &:hover {
      -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.30);
      -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.30);
      box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.3030);
    }
  }
}
