@import "../utilities/all";

.header-hero-bg {
  background: linear-gradient(
    rgba(0, 0, 0, 0.32), 
    rgba(0, 0, 0, 0.32)
  ), url('https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?cs=srgb&dl=adults-analysis-brainstorming-1661004.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .navbar-nav {
    .nav-link {
      color: $white !important;
    }
  }
}

.hamburger-inner {
  background-color: $white;

  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hamburger.is-active .hamburger-inner {
  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hamburger.is-active .hamburger-inner::before {
  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hamburger.is-active .hamburger-inner::after {
  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $white;

  }
}

.hero {
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
    .title {
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
  .row {
    align-self: flex-end;
  }
}

.blockquote {
    max-width: 680px;
    .blockquote-text {
        font-size: 2.75rem;
    }
}

#employees-heading {
    margin-top: 200px;
    @media only screen and (max-width: 576px) {
      margin-top: 25px;
    }
    .title {
        font-size: 32px;
    }
}