// Card wrapper on front page
%card {
  border-radius: 14px;
  border-color: transparent;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
}
#explore-opportunities-card-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;

  .card {
    @extend %card;
    height: 375px;
    width: 255px;
    margin-bottom: 45px;
  }
  .card-img {
    border-radius: 14px 14px 0px 0px;
    height: 230px;
    overflow: hidden;
   
  }
  
}
