.hero {
  margin-bottom: 0px !important;
}

.jumobtron {
  margin-bottom: 0px !important;
}

.img-fluid-container {
  max-height: 670px;
  overflow: hidden;
}

#about-extended {
  margin-top: 65px;
}

