.hero {
  margin-bottom: 0px !important;
}

.jumobtron {
  margin-bottom: 0px !important;
}

.img-fluid-container {
  max-height: 670px;
  overflow: hidden;
}

.img-fluid-container img {
  -webkit-transform: translateY(-172px);
          transform: translateY(-172px);
}

