/* Colors */

.header-hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url("https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?cs=srgb&dl=adults-analysis-brainstorming-1661004.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-hero-bg .navbar-nav .nav-link {
  color: #fff !important;
}

.hero {
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .title {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.hero .row {
  align-self: flex-end;
}

.blockquote {
  max-width: 680px;
}

.blockquote .blockquote-text {
  font-size: 2.75rem;
}

#employees-heading {
  margin-top: 200px;
}

#employees-heading .title {
  font-size: 32px;
}

