.slider {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.1s ease;
  -webkit-transition: opacity 1.1s ease;

  &.slick-initialized {
    visibility: visible;
    opacity: 1;
  }
}

.slick-slider {
  overflow: hidden;

  .slick-slide {
    padding: 2.2rem;

    .employee-photo {
      -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.14);
      width: 313px;
      height: 391px;
    }

    .gallery-photo {
      -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.20);
      -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }
  }

  .slick-current {
    .employee-photo {
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.43);
      -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.43);
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.43);
    }
  }
}

#gallery-slider {
  .photo-container {
    width: 500px;
    height: 550px;
    margin-bottom: 100px;
    overflow: hidden;
  }
}
