.header-wrapper {
  .navbar-nav {
    margin-top: 25px;

    .nav-item {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 16px;
    }

    .nav-link {
      color: $main-black;
    }
  }
  #menu {
    margin-bottom: 30px;
  }
}