.header-wrapper {
  transition: all 0.3s ease-out;
  .navbar-brand {
    margin-top: 25px;
    max-width: 157px;
  }
  .navbar-nav {
    margin-top: 25px;

    .nav-item {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 16px;
    }

    .nav-link {
      color: $main-black !important;
    }
  }
}

.hamburger-black {
  .hamburger-inner {
    background-color: black;
  
    &::after {
      background-color: black;
    }
  
    &::before {
      background-color: black;
  
    }
  }
  
  .hamburger.is-active .hamburger-inner {
    &::after {
      background-color: black;
    }
  
    &::before {
      background-color:black;
  
    }
  }
  
  .hamburger.is-active .hamburger-inner::before {
    &::after {
      background-color: black;
    }
  
    &::before {
      background-color: black;
  
    }
  }
  
  .hamburger.is-active .hamburger-inner::after {
    &::after {
      background-color: black;
    }
  
    &::before {
      background-color: black;
  
    }
  }
}

.hamburger-white {
  .hamburger-inner {
    background-color: $white;
  
    &::after {
      background-color: $white;
    }
  
    &::before {
      background-color: $white;
  
    }
  }
  
  .hamburger.is-active .hamburger-inner {
    &::after {
      background-color: $white;
    }
  
    &::before {
      background-color: $white;
  
    }
  }
  
  .hamburger.is-active .hamburger-inner::before {
    &::after {
      background-color: $white;
    }
  
    &::before {
      background-color: $white;
  
    }
  }
  
  .hamburger.is-active .hamburger-inner::after {
    &::after {
      background-color: $white;
    }
  
    &::before {
      background-color: $white;
  
    }
  }
}

#menu {
  margin-top: 30px;
}

/***** Mobile nav menu styles *****/

nav.mobile {
  display: block;
  position: static;
  top: 4.5rem;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 1px 3px -1px rgba(41, 70, 97, 0.2);
  transition: all 0.25s ease-out;
  padding-bottom: 1rem;
  opacity: 0;
  
}
nav.mobile--open {
  opacity: 1;
}
nav.mobile ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
  a {
    color: $main-black;
  }
}