/* Colors */
// Main colors
$white: #fff;
$main-black: #333;
$blue: #2A9FF4;

// Gradient colors
$gradient-pink: #F486D1;
$gradient-purple: #C452F5;

// Border colors
$border-purple: #DC90DC;

// Misc. colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;