// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');

// Main colors
$white: #fff;
$main-black: #333;
$blue: #2A9FF4;

// Gradient colors
$gradient-pink: #F486D1;
$gradient-purple: #C452F5;

// Border colors
$border-purple: #DC90DC;

// Misc. colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// // Font weights
$weight-light: 300;
$weight-regular: 400;
$weight-semi: 600;
$weight-bold: 700;

// Base variables
$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;