.jumbotron {
  background-color: transparent !important;
}

.hero {
  color: $main-black;
	.title {
    max-width: 414px;
    font-size: 68px;
    &--light {
      color: $white;
    }
	}
	.subtitle {
    max-width: 414px;
    font-size: 33px;
    &--light {
      color: $white;
    }
	}
  .btn-light {
    font-size: 21px;
    text-transform: uppercase;
    background-color: $white;
    letter-spacing: 1.008px;
    //border-radius: 48px;
    width: 225px;
height: 67px;
  }
}

.link {
  color: $link-blue;
}

.main-content {
  color: $main-black;
  .section-heading {
    .title {
      font-size: 20px;
    }
    .border-bottom {
      width: 8%;
      border-bottom: 2px solid $border-purple !important;
    }
  }
  .section-content {
    .title {
      font-size: 45px;
    }
    .subtitle {
      font-size: 21px;
    }
    .link {
      font-size: 20px;
    }
  }
}


