.hero {
  color: $main-black;
	.title {
    font-size: 68px;
	}
	.subtitle {
    font-size: 33px;
	}
	.light {
		color: $white;
	}
  .btn-light {
    text-transform: uppercase;
    background-color: $white;
  }
}

.link {
  color: $link-blue;
}

.main-content {
  color: $main-black;
  .section-heading {
    .title {
      font-size: 30px;
    }
    .border-bottom {
      border-bottom: 1px solid $border-purple;
    }
  }
  .section-content {
    .title {
      font-size: 45px;
    }
    .subtitle {
      font-size: 21px;
    }
    .link {
      font-size: 20px;
    }
  }
}